body{
position: absolute;
width: 861px;
height: 293px;
left: 8px;
top: 0px;
margin: 1px;
background-image: url("imagenes/fondo\ .jpg");
background-repeat: no-repeat;
background-size: 2000px;
background-color:rgb(170, 242, 255);
margin: 5px;
}

#cabecera{
  position: absolute;
  right: 300px;
  border-color: #F1F2F2;
  border-right: 800px;
}
header{
  background-color: rgb(245, 250, 252);
  
  }

#cointainer{
  position:absolute;
  right: 40px;
}

select{
  position: absolute;
    width: 150px;
    height: 35px;
    left: 578px;
    top: 300px;
    background:hsl(145, 86%, 86%);
    font-size: 15px;
    cursor: pointer;
}

textarea {
  overflow: scroll;
  resize: none;
}

#mensaje1 {
   position: absolute;
   width: 400px;
   height: 210px;
   left: 90px;
   top: 250px;
   background: #F1F2F2;
   border-radius: 0px;
   border: 3px solid;
   border-color: #8EDC7A;
   font-size: 17px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

#desplazar {
    position: absolute;
    width: 60px;
    height: 35px;
    left: 650px;
    top: 370px;
    background:hsl(145, 86%, 86%);
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

#mensaje2 {
 
   position: absolute;
   width: 400px;
   height: 210px;
   left: 800px;
   top: 250px;
   background: #F1F2F2;
   border-radius: 0px;
   border: 3px solid;
   border-color: #8EDC7A;
   font-size: 17px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);

}


#cifrar {
   
    position:absolute;
    width: 120px;
    height:55px;
    left: 400px;
    top: 530px;
    text-align: center;
    background-color: #adff99;
    border-radius: 10px;
    font-family: monospace;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid #03612d;
    border: 1.5px solid;
    border-color: #35ad1d;
    cursor: pointer;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

#descifrar {
    
    position: absolute;
    width: 120px;
    height:55px;
    left: 770px;
    top: 530px;
    text-align: center;
    background-color: #adff99;
    border-radius: 10px;
    font-family: monospace;
    font-size: 17px;
    line-height: 20px;
    border: 1px solid #03612d;
    border: 1.5px solid;
    border-color: #35ad1d;
    cursor: pointer; 
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}
p{
  position: absolute;
  left: 600px;
  top: 355px;
  font-family: monospace;
  font-size: 22px;
}

#enviar{

  position: absolute;
   width: 80px;
   height: 40px;
   left: 1000px;
   top: 530px;
   text-align: center;
   background: #F1F2F2;
   border-radius: 40px;
   border: 3px solid;
   border-color: #8EDC7A;
   font-size: 15px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
}

 iframe {
position: absolute;
top: 650px;
left: 300px;
width: 700px;
height: 400px;
border: 4px solid #8EDC7A;
box-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
 }

footer {
  margin: 195px;
  padding: 2px;
  box-sizing: content-box;
  position: absolute;
  top: 28rem;
  right: -65rem;
  padding: bottom 100rem;

}

.buttons {  
  position: absolute;
  top: 450px;
  right: 900px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
}

.buttons a {
  text-decoration: none;
  font-size: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #ffffff;
  color: #1e6cc5;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
  transition: all .4s ease-in-out;
}

.buttons a:hover {
  transform: scale(1.2);
}